@use '../custom' as *;

.achievement {
    background-color: $black;
    padding: 8rem 3rem 0 3rem ;

    @include media-breakpoint-down(sm) {
        padding: 3rem 0;
    }

    .achievement-content {
        padding: 0 0 9rem 0;
        @include media-breakpoint-down(md) {
            padding: 0 0 2rem 0;
        }
        h1 {
            font-size: 4rem;
            font-weight: 500;
            color: $yellow;
        }
        p {
            font-size: 1.4rem;
            font-weight: 500;
            color: $white;
        }

        @include media-breakpoint-down(sm) {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}