@use '../custom' as *;

.benefits {
    background-color: $black;
    padding: 5rem 0 2rem 0;

    .benefit-firstContent {
        color: $white;

        h1 {
            font-weight: 700;
            font-size: 3rem;
            margin-bottom: 3rem;
        }
        p {
            font-size: 1.6rem;
            font-weight: 400;
            margin-bottom: 7rem;
        }

        @include media-breakpoint-down(sm) {
            h1 {
                font-size: 1.8rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
    .tier {

        padding-bottom: 4rem;

        i {
            font-size: 2rem;
            color: $yellow;
            margin-right: 2rem;
        }

        h3 {
            color: $white;
            font-weight: 600;
        }
        p {
            margin-left: 4.5rem;
            color: $white;
            font-size: 1.2rem;
            font-weight: 500;
            color: #d6d6d6;
        }
    }
    .benefit-img {
        max-width: 100%;
        max-height: 100%;

        img {
            height: 100%;
            width: 100%;
        }
    }
}