@use '../custom' as *;

.info-carousel {
    background-color: $black;

    .carousel-inner {
        .info-carousel-content {
            i {
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            h4 {
                font-size: 2rem;
                color: $yellow;
                font-weight: 600;
                margin-bottom: 2rem;
            }
            p {
                font-size: 1.6rem;
                margin-bottom: 4rem;
            }

            @include media-breakpoint-down(md) {
                h4 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.3rem;
                }
            }
        }
    } 
}