@use '../custom' as *;

.btn {
    color: $black;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1.2rem;
    background-color: $yellow;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out; 

    &:hover {
        background-color: darken($color: $white, $amount: 20%);
    }
}

.big-btn {
    @extend .btn;
    padding: 1.2rem 8.2rem; 

    @include media-breakpoint-down(sm) {
        padding: 1.2rem 6.2rem; 
    }
    
}


.btn-invest {
    @extend .btn;
    font-weight: 500;
}

.btn-nav {
    @extend .btn;
    width: 100%;
}

.forms-btn {
    margin-right: 30px;
    border: 5px;
    padding: 14px 8px;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    background-color: $yellow;
    color: $black;
    width: 100%;

    &:hover {
        background-color: darken($color: $white, $amount: 20%);
    }
}